body{
	margin:0;


}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	line-height: 1.6em;
}
span{
	font-size: 59px;
	color:#fff;
}
header{
	background: rgba(77,189,254,1);
background: -moz-linear-gradient(left, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,189,254,1)), color-stop(100%, rgba(55,144,217,1)));
background: -webkit-linear-gradient(left, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -o-linear-gradient(left, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: -ms-linear-gradient(left, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
background: linear-gradient(to right, rgba(77,189,254,1) 0%, rgba(55,144,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#3790d9', GradientType=1 );
padding-top: 60px;
padding-bottom: 145px;
}

.wraper{
	display: flex;
	justify-content: space-between;
}
.offer{
	margin-top: 147px;
	margin-bottom: 215px;
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
h1{
max-width: 575px;
color:#fff;
padding-bottom: 45px;
}
.text{
	max-width: 410px;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 45px;
}
.btn{
	font-family: 'Montserrat', sans-serif;
	display: block;
	background: #ffd429;
	width: 220px;
	text-decoration: none;
	color:#000;
	padding:20px 0;
	text-align: center;
	transition: all 0.5s ease;
}
.btn:hover {
	background: #c19c0b;
}
.intro{
	margin-top: 70px;
}
h2{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
.title{
	margin-top: 110px;
	text-align: center;
	margin-bottom: 120px;
}
.titles{
	display: inline-block;
	max-width: 300px;
	text-align: center;
	justify-content: space-between;
}
h3{
	font-size: 19px;
	font-weight: 700;
	text-align: center;
	
}
.cart{
	margin-top: 72px;
	margin-bottom: 29px;
}
.massager{
	background: #ecf3f8;
}

.mas{
	padding-top:102px;
}
li{
	list-style-type:none;
	text-align: center;
}
input{
	width: 341px;
	height: 45px;
	border-radius:5px;
	border:1px solid #bbbbbb;
	margin-bottom: 15px;
}

.block{
	text-align: center;
	margin-top: 60px;
	padding-bottom: 105px;
}

.bnt{
	font-family: 'Montserrat', sans-serif;
	background: #ffd429;
	width: 345px;
	text-decoration: none;
	color:#000;
	padding:20px 0;
	text-align: center;
	margin-left: 40px;
	border: 0;
	transition: all 1s ease;
}
.bnt:hover{
	background: #feb645;
}
footer{
	background: #164d7a;
}
.last{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding: 65px 0px;
    color: #fff;
}

